# Store item demand_ARIMA Model

In [1]:
__author__ = "Zhiji Ding"
__copyright__ = "Copyright 2018, Zhiji Ding"
__email__ = "jimmydzj2006@gmail.com"

In [2]:
# Module import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as matplot
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
# load data
train_df=pd.read_csv('/Users/jimmyding/Downloads/demand_forecasting_kernels_only/train.csv')
test_df=pd.read_csv('/Users/jimmyding/Downloads/demand_forecasting_kernels_only/test.csv')

In [4]:
train_df['date']=pd.to_datetime(train_df['date'])
train_df['week_day']=train_df['date'].dt.weekday_name
train_df['month']=train_df['date'].dt.month
train_df['year']=train_df['date'].dt.year
train_df=train_df.set_index(['date'])

In [5]:
item_group=train_df.groupby(['store','item'])
item_group

In [ ]:
for name, group in item_group:     
    print(name)    
    print(pd.DataFrame(group))

(1, 1)
            store  item  sales   week_day  month  year
date
2013-01-01      1     1     13    Tuesday      1  2013
2013-01-02      1     1     11  Wednesday      1  2013
2013-01-03      1     1     14   Thursday      1  2013
2013-01-04      1     1     13     Friday      1  2013
2013-01-05      1     1     10   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     1     14  Wednesday     12  2017
2017-12-28      1     1     19   Thursday     12  2017
2017-12-29      1     1     15     Friday     12  2017
2017-12-30      1     1     27   Saturday     12  2017
2017-12-31      1     1     23     Sunday     12  2017

[1826 rows x 6 columns]
(1, 2)
            store  item  sales   week_day  month  year
date
2013-01-01      1     2     33    Tuesday      1  2013
2013-01-02      1     2     43  Wednesday      1  2013
2013-01-03      1     2     23   Thursday      1  2013
2013-01-04      1     2     18     Friday      1  2013
2013-01-05      1     2     34   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     2     55  Wednesday     12  2017
2017-12-28      1     2     50   Thursday     12  2017
2017-12-29      1     2     50     Friday     12  2017
2017-12-30      1     2     56   Saturday     12  2017
2017-12-31      1     2     67     Sunday     12  2017

[1826 rows x 6 columns]
(1, 3)
            store  item  sales   week_day  month  year
date
2013-01-01      1     3     15    Tuesday      1  2013
2013-01-02      1     3     30  Wednesday      1  2013
2013-01-03      1     3     14   Thursday      1  2013
2013-01-04      1     3     10     Friday      1  2013
2013-01-05      1     3     23   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     3     26  Wednesday     12  2017
2017-12-28      1     3     21   Thursday     12  2017
2017-12-29      1     3     38     Friday     12  2017
2017-12-30      1     3     27   Saturday     12  2017
2017-12-31      1     3     29     Sunday     12  2017

[1826 rows x 6 columns]
(1, 4)
            store  item  sales   week_day  month  year
date
2013-01-01      1     4     10    Tuesday      1  2013
2013-01-02      1     4     11  Wednesday      1  2013
2013-01-03      1     4      8   Thursday      1  2013
2013-01-04      1     4     19     Friday      1  2013
2013-01-05      1     4     12   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     4     16  Wednesday     12  2017
2017-12-28      1     4     20   Thursday     12  2017
2017-12-29      1     4     25     Friday     12  2017
2017-12-30      1     4     19   Saturday     12  2017
2017-12-31      1     4     15     Sunday     12  2017

[1826 rows x 6 columns]
(1, 5)
            store  item  sales   week_day  month  year
date
2013-01-01      1     5     11    Tuesday      1  2013
2013-01-02      1     5      6  Wednesday      1  2013
2013-01-03      1     5      8   Thursday      1  2013
2013-01-04      1     5      9     Friday      1  2013
2013-01-05      1     5      8   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     5      6  Wednesday     12  2017
2017-12-28      1     5     15   Thursday     12  2017
2017-12-29      1     5     17     Friday     12  2017
2017-12-30      1     5     22   Saturday     12  2017
2017-12-31      1     5     17     Sunday     12  2017

[1826 rows x 6 columns]
(1, 6)
            store  item  sales   week_day  month  year
date
2013-01-01      1     6     31    Tuesday      1  2013
2013-01-02      1     6     36  Wednesday      1  2013
2013-01-03      1     6     18   Thursday      1  2013
2013-01-04      1     6     19     Friday      1  2013
2013-01-05      1     6     31   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     6     32  Wednesday     12  2017
2017-12-28      1     6     51   Thursday     12  2017
2017-12-29      1     6     55     Friday     12  2017
2017-12-30      1     6     55   Saturday     12  2017
2017-12-31      1     6     53     Sunday     12  2017

[1826 rows x 6 columns]
(1, 7)
            store  item  sales   week_day  month  year
date
2013-01-01      1     7     25    Tuesday      1  2013
2013-01-02      1     7     23  Wednesday      1  2013
2013-01-03      1     7     34   Thursday      1  2013
2013-01-04      1     7     36     Friday      1  2013
2013-01-05      1     7     38   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     7     45  Wednesday     12  2017
2017-12-28      1     7     36   Thursday     12  2017
2017-12-29      1     7     57     Friday     12  2017
2017-12-30      1     7     60   Saturday     12  2017
2017-12-31      1     7     55     Sunday     12  2017

[1826 rows x 6 columns]
(1, 8)
            store  item  sales   week_day  month  year
date
2013-01-01      1     8     33    Tuesday      1  2013
2013-01-02      1     8     37  Wednesday      1  2013
2013-01-03      1     8     38   Thursday      1  2013
2013-01-04      1     8     54     Friday      1  2013
2013-01-05      1     8     51   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     8     58  Wednesday     12  2017
2017-12-28      1     8     49   Thursday     12  2017
2017-12-29      1     8     54     Friday     12  2017
2017-12-30      1     8     75   Saturday     12  2017
2017-12-31      1     8     62     Sunday     12  2017

[1826 rows x 6 columns]
(1, 9)
            store  item  sales   week_day  month  year
date
2013-01-01      1     9     18    Tuesday      1  2013
2013-01-02      1     9     23  Wednesday      1  2013
2013-01-03      1     9     25   Thursday      1  2013
2013-01-04      1     9     22     Friday      1  2013
2013-01-05      1     9     29   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1     9     37  Wednesday     12  2017
2017-12-28      1     9     34   Thursday     12  2017
2017-12-29      1     9     46     Friday     12  2017
2017-12-30      1     9     37   Saturday     12  2017
2017-12-31      1     9     50     Sunday     12  2017

[1826 rows x 6 columns]
(1, 10)
            store  item  sales   week_day  month  year
date
2013-01-01      1    10     37    Tuesday      1  2013
2013-01-02      1    10     34  Wednesday      1  2013
2013-01-03      1    10     32   Thursday      1  2013
2013-01-04      1    10     45     Friday      1  2013
2013-01-05      1    10     35   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    10     55  Wednesday     12  2017
2017-12-28      1    10     63   Thursday     12  2017
2017-12-29      1    10     56     Friday     12  2017
2017-12-30      1    10     78   Saturday     12  2017
2017-12-31      1    10     74     Sunday     12  2017

[1826 rows x 6 columns]
(1, 11)
            store  item  sales   week_day  month  year
date
2013-01-01      1    11     37    Tuesday      1  2013
2013-01-02      1    11     43  Wednesday      1  2013
2013-01-03      1    11     34   Thursday      1  2013
2013-01-04      1    11     52     Friday      1  2013
2013-01-05      1    11     45   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    11     43  Wednesday     12  2017
2017-12-28      1    11     64   Thursday     12  2017
2017-12-29      1    11     60     Friday     12  2017
2017-12-30      1    11     66   Saturday     12  2017
2017-12-31      1    11     44     Sunday     12  2017

[1826 rows x 6 columns]
(1, 12)
            store  item  sales   week_day  month  year
date
2013-01-01      1    12     33    Tuesday      1  2013
2013-01-02      1    12     35  Wednesday      1  2013
2013-01-03      1    12     41   Thursday      1  2013
2013-01-04      1    12     45     Friday      1  2013
2013-01-05      1    12     46   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    12     47  Wednesday     12  2017
2017-12-28      1    12     49   Thursday     12  2017
2017-12-29      1    12     58     Friday     12  2017
2017-12-30      1    12     52   Saturday     12  2017
2017-12-31      1    12     60     Sunday     12  2017

[1826 rows x 6 columns]
(1, 13)
            store  item  sales   week_day  month  year
date
2013-01-01      1    13     37    Tuesday      1  2013
2013-01-02      1    13     31  Wednesday      1  2013
2013-01-03      1    13     50   Thursday      1  2013
2013-01-04      1    13     45     Friday      1  2013
2013-01-05      1    13     49   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    13     49  Wednesday     12  2017
2017-12-28      1    13     68   Thursday     12  2017
2017-12-29      1    13     73     Friday     12  2017
2017-12-30      1    13     70   Saturday     12  2017
2017-12-31      1    13     75     Sunday     12  2017

[1826 rows x 6 columns]
(1, 14)
            store  item  sales   week_day  month  year
date
2013-01-01      1    14     22    Tuesday      1  2013
2013-01-02      1    14     35  Wednesday      1  2013
2013-01-03      1    14     26   Thursday      1  2013
2013-01-04      1    14     32     Friday      1  2013
2013-01-05      1    14     31   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    14     42  Wednesday     12  2017
2017-12-28      1    14     51   Thursday     12  2017
2017-12-29      1    14     42     Friday     12  2017
2017-12-30      1    14     57   Saturday     12  2017
2017-12-31      1    14     52     Sunday     12  2017

[1826 rows x 6 columns]
(1, 15)
            store  item  sales   week_day  month  year
date
2013-01-01      1    15     42    Tuesday      1  2013
2013-01-02      1    15     33  Wednesday      1  2013
2013-01-03      1    15     45   Thursday      1  2013
2013-01-04      1    15     39     Friday      1  2013
2013-01-05      1    15     47   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    15     62  Wednesday     12  2017
2017-12-28      1    15     82   Thursday     12  2017
2017-12-29      1    15     65     Friday     12  2017
2017-12-30      1    15     77   Saturday     12  2017
2017-12-31      1    15     64     Sunday     12  2017

[1826 rows x 6 columns]
(1, 16)
            store  item  sales   week_day  month  year
date
2013-01-01      1    16     14    Tuesday      1  2013
2013-01-02      1    16     11  Wednesday      1  2013
2013-01-03      1    16     12   Thursday      1  2013
2013-01-04      1    16     15     Friday      1  2013
2013-01-05      1    16     22   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    16     16  Wednesday     12  2017
2017-12-28      1    16     24   Thursday     12  2017
2017-12-29      1    16     11     Friday     12  2017
2017-12-30      1    16     28   Saturday     12  2017
2017-12-31      1    16     38     Sunday     12  2017

[1826 rows x 6 columns]
(1, 17)
            store  item  sales   week_day  month  year
date
2013-01-01      1    17     13    Tuesday      1  2013
2013-01-02      1    17     18  Wednesday      1  2013
2013-01-03      1    17     15   Thursday      1  2013
2013-01-04      1    17     19     Friday      1  2013
2013-01-05      1    17     16   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    17     29  Wednesday     12  2017
2017-12-28      1    17     13   Thursday     12  2017
2017-12-29      1    17     27     Friday     12  2017
2017-12-30      1    17     32   Saturday     12  2017
2017-12-31      1    17     37     Sunday     12  2017

[1826 rows x 6 columns]
(1, 18)
            store  item  sales   week_day  month  year
date
2013-01-01      1    18     38    Tuesday      1  2013
2013-01-02      1    18     51  Wednesday      1  2013
2013-01-03      1    18     42   Thursday      1  2013
2013-01-04      1    18     50     Friday      1  2013
2013-01-05      1    18     56   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    18     54  Wednesday     12  2017
2017-12-28      1    18     69   Thursday     12  2017
2017-12-29      1    18     66     Friday     12  2017
2017-12-30      1    18     67   Saturday     12  2017
2017-12-31      1    18     88     Sunday     12  2017

[1826 rows x 6 columns]
(1, 19)
            store  item  sales   week_day  month  year
date
2013-01-01      1    19     15    Tuesday      1  2013
2013-01-02      1    19     18  Wednesday      1  2013
2013-01-03      1    19     20   Thursday      1  2013
2013-01-04      1    19     16     Friday      1  2013
2013-01-05      1    19     19   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    19     31  Wednesday     12  2017
2017-12-28      1    19     33   Thursday     12  2017
2017-12-29      1    19     30     Friday     12  2017
2017-12-30      1    19     40   Saturday     12  2017
2017-12-31      1    19     35     Sunday     12  2017

[1826 rows x 6 columns]
(1, 20)
            store  item  sales   week_day  month  year
date
2013-01-01      1    20     22    Tuesday      1  2013
2013-01-02      1    20     16  Wednesday      1  2013
2013-01-03      1    20     24   Thursday      1  2013
2013-01-04      1    20     24     Friday      1  2013
2013-01-05      1    20     36   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    20     29  Wednesday     12  2017
2017-12-28      1    20     29   Thursday     12  2017
2017-12-29      1    20     51     Friday     12  2017
2017-12-30      1    20     38   Saturday     12  2017
2017-12-31      1    20     47     Sunday     12  2017

[1826 rows x 6 columns]
(1, 21)
            store  item  sales   week_day  month  year
date
2013-01-01      1    21     22    Tuesday      1  2013
2013-01-02      1    21     28  Wednesday      1  2013
2013-01-03      1    21     23   Thursday      1  2013
2013-01-04      1    21     15     Friday      1  2013
2013-01-05      1    21     18   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    21     30  Wednesday     12  2017
2017-12-28      1    21     30   Thursday     12  2017
2017-12-29      1    21     35     Friday     12  2017
2017-12-30      1    21     33   Saturday     12  2017
2017-12-31      1    21     31     Sunday     12  2017

[1826 rows x 6 columns]
(1, 22)
            store  item  sales   week_day  month  year
date
2013-01-01      1    22     59    Tuesday      1  2013
2013-01-02      1    22     29  Wednesday      1  2013
2013-01-03      1    22     33   Thursday      1  2013
2013-01-04      1    22     45     Friday      1  2013
2013-01-05      1    22     32   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    22     44  Wednesday     12  2017
2017-12-28      1    22     60   Thursday     12  2017
2017-12-29      1    22     69     Friday     12  2017
2017-12-30      1    22     63   Saturday     12  2017
2017-12-31      1    22     87     Sunday     12  2017

[1826 rows x 6 columns]
(1, 23)
            store  item  sales   week_day  month  year
date
2013-01-01      1    23     14    Tuesday      1  2013
2013-01-02      1    23     17  Wednesday      1  2013
2013-01-03      1    23      5   Thursday      1  2013
2013-01-04      1    23     16     Friday      1  2013
2013-01-05      1    23     23   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    23     25  Wednesday     12  2017
2017-12-28      1    23     26   Thursday     12  2017
2017-12-29      1    23     20     Friday     12  2017
2017-12-30      1    23     23   Saturday     12  2017
2017-12-31      1    23     28     Sunday     12  2017

[1826 rows x 6 columns]
(1, 24)
            store  item  sales   week_day  month  year
date
2013-01-01      1    24     41    Tuesday      1  2013
2013-01-02      1    24     25  Wednesday      1  2013
2013-01-03      1    24     32   Thursday      1  2013
2013-01-04      1    24     36     Friday      1  2013
2013-01-05      1    24     31   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    24     45  Wednesday     12  2017
2017-12-28      1    24     46   Thursday     12  2017
2017-12-29      1    24     53     Friday     12  2017
2017-12-30      1    24     44   Saturday     12  2017
2017-12-31      1    24     54     Sunday     12  2017

[1826 rows x 6 columns]
(1, 25)
            store  item  sales   week_day  month  year
date
2013-01-01      1    25     59    Tuesday      1  2013
2013-01-02      1    25     26  Wednesday      1  2013
2013-01-03      1    25     42   Thursday      1  2013
2013-01-04      1    25     35     Friday      1  2013
2013-01-05      1    25     45   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    25     65  Wednesday     12  2017
2017-12-28      1    25     63   Thursday     12  2017
2017-12-29      1    25     58     Friday     12  2017
2017-12-30      1    25     70   Saturday     12  2017
2017-12-31      1    25     82     Sunday     12  2017

[1826 rows x 6 columns]
(1, 26)
            store  item  sales   week_day  month  year
date
2013-01-01      1    26     16    Tuesday      1  2013
2013-01-02      1    26     26  Wednesday      1  2013
2013-01-03      1    26     31   Thursday      1  2013
2013-01-04      1    26     25     Friday      1  2013
2013-01-05      1    26     27   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    26     42  Wednesday     12  2017
2017-12-28      1    26     52   Thursday     12  2017
2017-12-29      1    26     33     Friday     12  2017
2017-12-30      1    26     49   Saturday     12  2017
2017-12-31      1    26     54     Sunday     12  2017

[1826 rows x 6 columns]
(1, 27)
            store  item  sales   week_day  month  year
date
2013-01-01      1    27     14    Tuesday      1  2013
2013-01-02      1    27     10  Wednesday      1  2013
2013-01-03      1    27     12   Thursday      1  2013
2013-01-04      1    27     18     Friday      1  2013
2013-01-05      1    27     13   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    27     18  Wednesday     12  2017
2017-12-28      1    27     18   Thursday     12  2017
2017-12-29      1    27     16     Friday     12  2017
2017-12-30      1    27     22   Saturday     12  2017
2017-12-31      1    27     22     Sunday     12  2017

[1826 rows x 6 columns]
(1, 28)
            store  item  sales   week_day  month  year
date
2013-01-01      1    28     49    Tuesday      1  2013
2013-01-02      1    28     39  Wednesday      1  2013
2013-01-03      1    28     57   Thursday      1  2013
2013-01-04      1    28     46     Friday      1  2013
2013-01-05      1    28     45   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    28     58  Wednesday     12  2017
2017-12-28      1    28     57   Thursday     12  2017
2017-12-29      1    28     60     Friday     12  2017
2017-12-30      1    28     81   Saturday     12  2017
2017-12-31      1    28     93     Sunday     12  2017

[1826 rows x 6 columns]
(1, 29)
            store  item  sales   week_day  month  year
date
2013-01-01      1    29     34    Tuesday      1  2013
2013-01-02      1    29     30  Wednesday      1  2013
2013-01-03      1    29     35   Thursday      1  2013
2013-01-04      1    29     46     Friday      1  2013
2013-01-05      1    29     43   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      1    29     53  Wednesday     12  2017

[1826 rows x 6 columns]
(2, 10)
            store  item  sales   week_day  month  year
date
2013-01-01      2    10     51    Tuesday      1  2013
2013-01-02      2    10     56  Wednesday      1  2013
2013-01-03      2    10     46   Thursday      1  2013
2013-01-04      2    10     56     Friday      1  2013
2013-01-05      2    10     53   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    10     63  Wednesday     12  2017
2017-12-28      2    10     78   Thursday     12  2017
2017-12-29      2    10     76     Friday     12  2017
2017-12-30      2    10     77   Saturday     12  2017
2017-12-31      2    10    116     Sunday     12  2017

[1826 rows x 6 columns]
(2, 11)
            store  item  sales   week_day  month  year
date
2013-01-01      2    11     51    Tuesday      1  2013
2013-01-02      2    11     56  Wednesday      1  2013
2013-01-03      2    11     51   Thursday      1  2013
2013-01-04      2    11     47     Friday      1  2013
2013-01-05      2    11     62   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    11     62  Wednesday     12  2017
2017-12-28      2    11     71   Thursday     12  2017
2017-12-29      2    11     87     Friday     12  2017
2017-12-30      2    11     90   Saturday     12  2017
2017-12-31      2    11    110     Sunday     12  2017

[1826 rows x 6 columns]
(2, 12)
            store  item  sales   week_day  month  year
date
2013-01-01      2    12     55    Tuesday      1  2013
2013-01-02      2    12     26  Wednesday      1  2013
2013-01-03      2    12     51   Thursday      1  2013
2013-01-04      2    12     51     Friday      1  2013
2013-01-05      2    12     62   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    12     72  Wednesday     12  2017
2017-12-28      2    12     75   Thursday     12  2017
2017-12-29      2    12     70     Friday     12  2017
2017-12-30      2    12    102   Saturday     12  2017
2017-12-31      2    12     83     Sunday     12  2017

[1826 rows x 6 columns]
(2, 13)
            store  item  sales   week_day  month  year
date
2013-01-01      2    13     51    Tuesday      1  2013
2013-01-02      2    13     58  Wednesday      1  2013
2013-01-03      2    13     49   Thursday      1  2013
2013-01-04      2    13     53     Friday      1  2013
2013-01-05      2    13     67   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    13     69  Wednesday     12  2017
2017-12-28      2    13     94   Thursday     12  2017
2017-12-29      2    13    107     Friday     12  2017
2017-12-30      2    13    103   Saturday     12  2017
2017-12-31      2    13    110     Sunday     12  2017

[1826 rows x 6 columns]
(2, 14)
            store  item  sales   week_day  month  year
date
2013-01-01      2    14     33    Tuesday      1  2013
2013-01-02      2    14     56  Wednesday      1  2013
2013-01-03      2    14     57   Thursday      1  2013
2013-01-04      2    14     53     Friday      1  2013
2013-01-05      2    14     45   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    14     55  Wednesday     12  2017
2017-12-28      2    14     71   Thursday     12  2017
2017-12-29      2    14     81     Friday     12  2017
2017-12-30      2    14     52   Saturday     12  2017
2017-12-31      2    14     75     Sunday     12  2017

[1826 rows x 6 columns]
(2, 15)
            store  item  sales   week_day  month  year
date
2013-01-01      2    15     65    Tuesday      1  2013
2013-01-02      2    15     71  Wednesday      1  2013
2013-01-03      2    15     53   Thursday      1  2013
2013-01-04      2    15     68     Friday      1  2013
2013-01-05      2    15     77   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    15    105  Wednesday     12  2017
2017-12-28      2    15     89   Thursday     12  2017
2017-12-29      2    15    101     Friday     12  2017
2017-12-30      2    15    104   Saturday     12  2017
2017-12-31      2    15    106     Sunday     12  2017

[1826 rows x 6 columns]
(2, 16)
            store  item  sales   week_day  month  year
date
2013-01-01      2    16     15    Tuesday      1  2013
2013-01-02      2    16     14  Wednesday      1  2013
2013-01-03      2    16     16   Thursday      1  2013
2013-01-04      2    16     14     Friday      1  2013
2013-01-05      2    16     15   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    16     23  Wednesday     12  2017
2017-12-28      2    16     17   Thursday     12  2017
2017-12-29      2    16     27     Friday     12  2017
2017-12-30      2    16     25   Saturday     12  2017
2017-12-31      2    16     30     Sunday     12  2017

[1826 rows x 6 columns]
(2, 17)
            store  item  sales   week_day  month  year
date
2013-01-01      2    17     24    Tuesday      1  2013
2013-01-02      2    17     32  Wednesday      1  2013
2013-01-03      2    17     23   Thursday      1  2013
2013-01-04      2    17     29     Friday      1  2013
2013-01-05      2    17     23   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    17     24  Wednesday     12  2017
2017-12-28      2    17     31   Thursday     12  2017
2017-12-29      2    17     24     Friday     12  2017
2017-12-30      2    17     34   Saturday     12  2017
2017-12-31      2    17     51     Sunday     12  2017

[1826 rows x 6 columns]
(2, 18)
            store  item  sales   week_day  month  year
date
2013-01-01      2    18     51    Tuesday      1  2013
2013-01-02      2    18     65  Wednesday      1  2013
2013-01-03      2    18     63   Thursday      1  2013
2013-01-04      2    18     57     Friday      1  2013
2013-01-05      2    18     76   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    18     92  Wednesday     12  2017
2017-12-28      2    18     95   Thursday     12  2017
2017-12-29      2    18     98     Friday     12  2017
2017-12-30      2    18     89   Saturday     12  2017
2017-12-31      2    18     86     Sunday     12  2017

[1826 rows x 6 columns]
(2, 19)
            store  item  sales   week_day  month  year
date
2013-01-01      2    19     32    Tuesday      1  2013
2013-01-02      2    19     34  Wednesday      1  2013
2013-01-03      2    19     32   Thursday      1  2013
2013-01-04      2    19     30     Friday      1  2013
2013-01-05      2    19     23   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    19     37  Wednesday     12  2017
2017-12-28      2    19     37   Thursday     12  2017
2017-12-29      2    19     49     Friday     12  2017
2017-12-30      2    19     45   Saturday     12  2017
2017-12-31      2    19     47     Sunday     12  2017

[1826 rows x 6 columns]
(2, 20)
            store  item  sales   week_day  month  year
date
2013-01-01      2    20     35    Tuesday      1  2013
2013-01-02      2    20     25  Wednesday      1  2013
2013-01-03      2    20     30   Thursday      1  2013
2013-01-04      2    20     29     Friday      1  2013
2013-01-05      2    20     29   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    20     56  Wednesday     12  2017
2017-12-28      2    20     51   Thursday     12  2017
2017-12-29      2    20     54     Friday     12  2017
2017-12-30      2    20     55   Saturday     12  2017
2017-12-31      2    20     44     Sunday     12  2017

[1826 rows x 6 columns]
(2, 21)
            store  item  sales   week_day  month  year
date
2013-01-01      2    21     30    Tuesday      1  2013
2013-01-02      2    21     27  Wednesday      1  2013
2013-01-03      2    21     28   Thursday      1  2013
2013-01-04      2    21     27     Friday      1  2013
2013-01-05      2    21     37   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    21     35  Wednesday     12  2017
2017-12-28      2    21     40   Thursday     12  2017
2017-12-29      2    21     55     Friday     12  2017
2017-12-30      2    21     54   Saturday     12  2017
2017-12-31      2    21     35     Sunday     12  2017

[1826 rows x 6 columns]
(2, 22)
            store  item  sales   week_day  month  year
date
2013-01-01      2    22     64    Tuesday      1  2013
2013-01-02      2    22     53  Wednesday      1  2013
2013-01-03      2    22     65   Thursday      1  2013
2013-01-04      2    22     70     Friday      1  2013
2013-01-05      2    22     64   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    22     80  Wednesday     12  2017
2017-12-28      2    22     81   Thursday     12  2017
2017-12-29      2    22     90     Friday     12  2017
2017-12-30      2    22    104   Saturday     12  2017
2017-12-31      2    22    129     Sunday     12  2017

[1826 rows x 6 columns]
(2, 23)
            store  item  sales   week_day  month  year
date
2013-01-01      2    23     17    Tuesday      1  2013
2013-01-02      2    23     24  Wednesday      1  2013
2013-01-03      2    23     22   Thursday      1  2013
2013-01-04      2    23     15     Friday      1  2013
2013-01-05      2    23     18   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    23     32  Wednesday     12  2017
2017-12-28      2    23     35   Thursday     12  2017
2017-12-29      2    23     37     Friday     12  2017
2017-12-30      2    23     35   Saturday     12  2017
2017-12-31      2    23     40     Sunday     12  2017

[1826 rows x 6 columns]
(2, 24)
            store  item  sales   week_day  month  year
date
2013-01-01      2    24     45    Tuesday      1  2013
2013-01-02      2    24     51  Wednesday      1  2013
2013-01-03      2    24     38   Thursday      1  2013
2013-01-04      2    24     62     Friday      1  2013
2013-01-05      2    24     42   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    24     59  Wednesday     12  2017
2017-12-28      2    24     62   Thursday     12  2017
2017-12-29      2    24     74     Friday     12  2017
2017-12-30      2    24     74   Saturday     12  2017
2017-12-31      2    24     77     Sunday     12  2017

[1826 rows x 6 columns]
(2, 25)
            store  item  sales   week_day  month  year
date
2013-01-01      2    25     42    Tuesday      1  2013
2013-01-02      2    25     57  Wednesday      1  2013
2013-01-03      2    25     63   Thursday      1  2013
2013-01-04      2    25     56     Friday      1  2013
2013-01-05      2    25     61   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    25    101  Wednesday     12  2017
2017-12-28      2    25     87   Thursday     12  2017
2017-12-29      2    25     88     Friday     12  2017
2017-12-30      2    25    105   Saturday     12  2017
2017-12-31      2    25    128     Sunday     12  2017

[1826 rows x 6 columns]
(2, 26)
            store  item  sales   week_day  month  year
date
2013-01-01      2    26     35    Tuesday      1  2013
2013-01-02      2    26     32  Wednesday      1  2013
2013-01-03      2    26     44   Thursday      1  2013
2013-01-04      2    26     33     Friday      1  2013
2013-01-05      2    26     43   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    26     48  Wednesday     12  2017
2017-12-28      2    26     46   Thursday     12  2017
2017-12-29      2    26     72     Friday     12  2017
2017-12-30      2    26     56   Saturday     12  2017
2017-12-31      2    26     66     Sunday     12  2017

[1826 rows x 6 columns]
(2, 27)
            store  item  sales   week_day  month  year
date
2013-01-01      2    27     17    Tuesday      1  2013
2013-01-02      2    27     24  Wednesday      1  2013
2013-01-03      2    27     20   Thursday      1  2013
2013-01-04      2    27     14     Friday      1  2013
2013-01-05      2    27     16   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    27     18  Wednesday     12  2017
2017-12-28      2    27     25   Thursday     12  2017
2017-12-29      2    27     22     Friday     12  2017
2017-12-30      2    27     31   Saturday     12  2017
2017-12-31      2    27     30     Sunday     12  2017

[1826 rows x 6 columns]
(2, 28)
            store  item  sales   week_day  month  year
date
2013-01-01      2    28     45    Tuesday      1  2013
2013-01-02      2    28     53  Wednesday      1  2013
2013-01-03      2    28     65   Thursday      1  2013
2013-01-04      2    28     66     Friday      1  2013
2013-01-05      2    28     97   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    28     82  Wednesday     12  2017
2017-12-28      2    28    114   Thursday     12  2017
2017-12-29      2    28    101     Friday     12  2017
2017-12-30      2    28    120   Saturday     12  2017
2017-12-31      2    28    104     Sunday     12  2017

[1826 rows x 6 columns]
(2, 29)
            store  item  sales   week_day  month  year
date
2013-01-01      2    29     50    Tuesday      1  2013
2013-01-02      2    29     54  Wednesday      1  2013
2013-01-03      2    29     57   Thursday      1  2013
2013-01-04      2    29     64     Friday      1  2013
2013-01-05      2    29     56   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    29     49  Wednesday     12  2017
2017-12-28      2    29     70   Thursday     12  2017
2017-12-29      2    29     90     Friday     12  2017
2017-12-30      2    29     87   Saturday     12  2017
2017-12-31      2    29     97     Sunday     12  2017

[1826 rows x 6 columns]
(2, 30)
            store  item  sales   week_day  month  year
date
2013-01-01      2    30     32    Tuesday      1  2013
2013-01-02      2    30     16  Wednesday      1  2013
2013-01-03      2    30     26   Thursday      1  2013
2013-01-04      2    30     31     Friday      1  2013
2013-01-05      2    30     30   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    30     46  Wednesday     12  2017
2017-12-28      2    30     50   Thursday     12  2017
2017-12-29      2    30     44     Friday     12  2017
2017-12-30      2    30     50   Saturday     12  2017
2017-12-31      2    30     44     Sunday     12  2017

[1826 rows x 6 columns]
(2, 31)
            store  item  sales   week_day  month  year
date
2013-01-01      2    31     38    Tuesday      1  2013
2013-01-02      2    31     37  Wednesday      1  2013
2013-01-03      2    31     54   Thursday      1  2013
2013-01-04      2    31     47     Friday      1  2013
2013-01-05      2    31     45   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    31     74  Wednesday     12  2017
2017-12-28      2    31     59   Thursday     12  2017
2017-12-29      2    31     72     Friday     12  2017
2017-12-30      2    31     60   Saturday     12  2017
2017-12-31      2    31     69     Sunday     12  2017

[1826 rows x 6 columns]
(2, 32)
            store  item  sales   week_day  month  year
date
2013-01-01      2    32     26    Tuesday      1  2013
2013-01-02      2    32     23  Wednesday      1  2013
2013-01-03      2    32     32   Thursday      1  2013
2013-01-04      2    32     34     Friday      1  2013
2013-01-05      2    32     35   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    32     50  Wednesday     12  2017
2017-12-28      2    32     59   Thursday     12  2017
2017-12-29      2    32     50     Friday     12  2017
2017-12-30      2    32     62   Saturday     12  2017
2017-12-31      2    32     60     Sunday     12  2017

[1826 rows x 6 columns]
(2, 33)
            store  item  sales   week_day  month  year
date
2013-01-01      2    33     43    Tuesday      1  2013
2013-01-02      2    33     49  Wednesday      1  2013
2013-01-03      2    33     63   Thursday      1  2013
2013-01-04      2    33     52     Friday      1  2013
2013-01-05      2    33     56   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    33     59  Wednesday     12  2017
2017-12-28      2    33     74   Thursday     12  2017
2017-12-29      2    33     56     Friday     12  2017
2017-12-30      2    33     83   Saturday     12  2017
2017-12-31      2    33     83     Sunday     12  2017

[1826 rows x 6 columns]
(2, 34)
            store  item  sales   week_day  month  year
date
2013-01-01      2    34     18    Tuesday      1  2013
2013-01-02      2    34     20  Wednesday      1  2013
2013-01-03      2    34     23   Thursday      1  2013
2013-01-04      2    34     14     Friday      1  2013
2013-01-05      2    34     18   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    34     21  Wednesday     12  2017
2017-12-28      2    34     21   Thursday     12  2017
2017-12-29      2    34     25     Friday     12  2017
2017-12-30      2    34     26   Saturday     12  2017
2017-12-31      2    34     29     Sunday     12  2017

[1826 rows x 6 columns]
(2, 35)
            store  item  sales   week_day  month  year
date
2013-01-01      2    35     42    Tuesday      1  2013
2013-01-02      2    35     46  Wednesday      1  2013
2013-01-03      2    35     35   Thursday      1  2013
2013-01-04      2    35     53     Friday      1  2013
2013-01-05      2    35     48   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    35     64  Wednesday     12  2017
2017-12-28      2    35     58   Thursday     12  2017
2017-12-29      2    35     78     Friday     12  2017
2017-12-30      2    35     88   Saturday     12  2017
2017-12-31      2    35     65     Sunday     12  2017

[1826 rows x 6 columns]
(2, 36)
            store  item  sales   week_day  month  year
date
2013-01-01      2    36     64    Tuesday      1  2013
2013-01-02      2    36     46  Wednesday      1  2013
2013-01-03      2    36     55   Thursday      1  2013
2013-01-04      2    36     55     Friday      1  2013
2013-01-05      2    36     53   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    36     83  Wednesday     12  2017
2017-12-28      2    36     91   Thursday     12  2017
2017-12-29      2    36     93     Friday     12  2017
2017-12-30      2    36     97   Saturday     12  2017
2017-12-31      2    36    105     Sunday     12  2017

[1826 rows x 6 columns]
(2, 37)
            store  item  sales   week_day  month  year
date
2013-01-01      2    37     18    Tuesday      1  2013
2013-01-02      2    37     15  Wednesday      1  2013
2013-01-03      2    37     19   Thursday      1  2013
2013-01-04      2    37     28     Friday      1  2013
2013-01-05      2    37     18   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...
2017-12-27      2    37     31  Wednesday     12  2017
2017-12-28      2    37     38   Thursday     12  2017
2017-12-29      2    37     38     Friday     12  2017
2017-12-30      2    37     27   Saturday     12  2017
2017-12-31      2    37     30     Sunday     12  2017

[1826 rows x 6 columns]
(2, 38)
            store  item  sales   week_day  month  year
date
2013-01-01      2    38     50    Tuesday      1  2013
2013-01-02      2    38     58  Wednesday      1  2013
2013-01-03      2    38     52   Thursday      1  2013
2013-01-04      2    38     57     Friday      1  2013
2013-01-05      2    38     61   Saturday      1  2013
...           ...   ...    ...        ...    ...   ...